
header {
  z-index: 10001;
  position: relative;
}

.footer {
  width: 100vw;
  z-index: 1000!important;
  position: relative;
}

#pesquisa_resp_a { 
  display: none;
}
.navbar-toggler {
  display: none;
}

@media screen and (max-width: 1001px) {
  .footer {margin-top: 60px}
}

