body {
    background: none;
    position: relative;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg,
            rgba(255, 255, 255, 0.8) 0%,
            rgba(212, 163, 115, 0.4) 10%,
            rgba(255, 255, 255, 0) 40%);
    z-index: 1;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/logoURIsus.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.03;
    z-index: 0;
    pointer-events: none;
}

.header {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 2px solid #ccc;
    position: relative;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.social-icons a img {
    width: 24px;
    margin-right: 10px;
}

.contact-info span {
    font-weight: bold;
}

.logo-slider img {
    width: 150px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #2e2e2e;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
    cursor: pointer;
}

nav a.active {
    border-bottom: 2px solid #006838;
}

.header-container {
    display: flex;
    margin-top: 30px;
    min-width: 1200px;
}

footer {
    background-color: #006838;
    padding: 20px;
    color: white;
    text-align: center;
    z-index: 999;
}

footer .footer-columns div {
    flex-grow: 1;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons a img {
    width: 30px;
    margin: 0 10px;
}

@media (max-width: 480px) {

    .slide {
        border-bottom-left-radius: 60px;
    }

    .slide-text {
        bottom: 40px;
        right: 25px;
    }

    .slide-text p,
    h2 {
        text-align: end;
    }

    .button-group {
        margin-top: 20px;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        align-items: center;
    }

    .btn {
        width: 100%;
        margin-bottom: 20px;

    }

    .btn:last-child {
        margin-bottom: 40px;
    }

    .controls .dot {
        width: 5px;
        height: 5px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

h1 {
    margin-bottom: 40px;
    color: #333;
}

.button-group {
    display: flex;
    width: 900px;
    justify-content: space-around;
}

.btn {
    padding: 15px 30px;
    margin: auto;
    background-color: white;
    color: black;
    border: 2px solid #228B22;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 90%;
    display: inline-block;
}

.btn:hover {
    background-color: #f0f0f0;
}

button {
    width: 90%;
    background: none;
    border: none;
    padding: 0;
}

.button-title {
    font-weight: bold;
    font-size: 1.4em;
    transform: translateY(8px);
    color: black;
}

.subtitle {
    font-size: 0.9em;
    color: gray;
    margin-left: 5px;
}

.slider {
    position: relative;
    width: 100%;
    height: 55vh;
    overflow: hidden;
}

.slider::before {
    left: 0;
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
}

.slider::after {
    right: 0;
    background: linear-gradient(to left, black, rgba(0, 0, 0, 0));
}

.slides {
    display: flex;
    transition: transform 2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.slide {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    height: 55vh;
    position: relative;
}

.slide-text {
    position: absolute;
    bottom: 40px;
    right: 50px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.slide-text h2 {
    margin: 0;
}

.slide-text p {
    margin: 0;
    max-width: 200px;
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}

.controls .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.controls .dot.active,
.controls .dot:hover {
    background-color: rgba(255, 255, 255, 1);
}

.background-div {
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent;
}

.header {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
}

.logo-slider {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.logo-slider img {
    max-height: 80px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 999;
}
.box {
    width: 1350px;
}

#main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.plantinfo{
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
}
#main-section .box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}
.articletitle{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}
.articletitle h1{
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    color: #141414;
    margin: 0;
}
.articletitle h2{
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    color: #141414;
    margin: 0;
}
.photosplant{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
}
.photocentral-wrapp{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.photocentral{
    display: block;
    width: 1100px;
    height: 650px;
    overflow: hidden;
    border-radius: 8px;
}
.photoImg{
    border-radius: 8px;
    min-width: 100%;
}
.otherphotos-wrapp{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}
.otherphotodiv{
    display: block;
    width: 200px;
    height: 150px;
    border-radius: 8px;
    cursor: pointer;
}
.otherphoto{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}
.navigator{
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
}
.navigatordiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #2C483C;
    height: 50px;
    width: 100%;
    border-radius: 8px;
}
.navigatorList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.navigatorList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.navigatorref{
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: #FFFF;
    text-transform: uppercase;
}
.navigatorref:hover{
    text-decoration: none;
}
.informations{
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
}
.informationsart{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.informationsart h1{
    font-size: 20px;
    color: #141414;
    font-weight: 600;
    margin: 0;
}
.informationsart h2{
    font-size: 25px;
    color: #141414;
    font-weight: 200;
}
.otherplants-wrapp{
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-bottom: 50px;
}
.otherplants-wrapp h1{
    font-size: 60px;
    font-weight: 600;
    color: #141414;
}
.otherplants{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
    text-align: center;
}
.otherplant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    text-align: center;
    border: 1px solid #18392B;
    background-image: url('../images/bgplant.png');
    background-size: cover;
    width: 300px;
    border-radius: 10px;
    padding: 35px;
    gap: 50px;
    transition: 0.20s;
}
.otherplant:hover{
    -webkit-box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.75);
}
.centerplant{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.otherplantimg {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    -webkit-box-shadow: 10px 10px 25px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px -18px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px -18px rgba(0,0,0,0.75);
}
.otherplantimg img {
    min-width: 100%;
    height: 100%;
    border-radius: 100%;
}
.titleothersplants{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.titleothersplants h1{
    font-size: 15px;
    margin: 0;
    color: #141414;
}
.titleothersplants h2{
    font-size: 20px;
    color: #141414;
}
.btnotherplant{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #18392B;
    width: 100%;
    color: white;
    font-size: 20px;
    min-height: 50px;
    border-radius: 10px;
}