@media (max-width: 480px) {

    .slider {
        border-bottom-left-radius: 60px;
    }

    .slide-text {
        bottom: 40px;
        right: 25px;
    }

    .button-group {
        margin-top: 20px;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        align-items: center;
    }

    .btn {
        width: 100%;
        margin-bottom: 20px;

    }

    .btn:last-child {
        margin-bottom: 40px;
    }

    .controls .dot {
        width: 5px;
        height: 5px;
    }
    .social-bar {
        text-align: left!important;
    }
}

a:hover {
    color: white!important;
}

body {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, rgb(45 175 76 / 20%) 10%, rgba(34, 49, 36, 0) 40%);
    z-index: 1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/logoURIsus.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.15;
    z-index: 0;
    pointer-events: none;
}

h1 {
    margin-bottom: 40px;
    color: #333;
}


.button-group {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    z-index: 99;
}

.btn {
    padding: 15px 30px !important;
    margin: auto !important;
    background-color: white !important;
    color: black !important;
    border: 2px solid #228B22 !important;
    border-radius: 5px !important;
    font-size: 1.1em !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    text-align: center !important;
    min-width: 227px !important;
    display: inline-block !important;
    font-family: 'poppins' !important;
}

.btn:hover {
    background-color: #f0f0f0 !important;
}


button {
    width: 90%;
    background: none;
    border: none;
    padding: 0;
}


button.btn:hover {
    color: white !important;
    background-color: #228B22 !important;
    font-family: 'Poppins', sans-serif !important;
}

a.usefullinks:hover {
    color: black !important;
}

.btn:not(.filtrar_matriz_curso)::before {
    content: none !important;
    position: static !important;
    left: auto !important;
    top: auto !important;
    width: auto !important;
    height: auto !important;
    background: transparent !important;
    z-index: auto !important;
    border-radius: 0 !important;
    transition: none !important;
    transform-origin: auto !important;
    transform: none !important;
    font-family: 'Poppins', sans-serif !important;
}


.button-title {
    font-weight: bold;
    font-size: 1.4em;
    transform: translateY(8px);
    color: black;
    max-width: 200px;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 12px;

}

.subtitle {
    font-size: 0.9em;
    color: gray;
    margin-left: 5px;
}

.slider {
    position: relative;
    width: 100%;
    height: 55vh;
    overflow: hidden;
}

.slider::before {
    left: 0;
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
}

.slider::after {
    right: 0;
    background: linear-gradient(to left, black, rgba(0, 0, 0, 0));
}

.slides {
    display: flex;
    transition: transform 2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.slide {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    height: 55vh;
    position: relative;
}

.slide-text {
    position: absolute;
    bottom: 40px;
    right: 50px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.slide-text h2 {
    margin: 0;
    color: white;
    font-family: 'poppins';
}

.slide-text p {
    margin: 0;
    max-width: 200px;
    color: white;
    font-family: 'poppins';
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}

.controls .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.controls .dot.active,
.controls .dot:hover {
    background-color: rgba(255, 255, 255, 1);
}

.background-div {
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent;
}

.header {
    display: flex;
    flex-direction: column;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
}

.logo-slider {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.logo-slider img {
    max-height: 80px;
}


@media (max-width: 1000px) {
    .button-group {
        margin-top: 20px;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        align-items: center;
        gap: 0px;
    }

    .btn:last-child {
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 600px) {
    .slide-text {
        left: 50px;
    }
}