/* dispositivos móveis */
@media (min-width: 481px) {

  /* BLUE footer */
  .wrapper-footer {
    background-color: #00668F;
  }

  footer {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  footer .footer-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 560px;
  }

  footer .redes-sociais,
  footer .telefones,
  footer .localizacoes {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  footer .redes-sociais a,
  footer .telefones a,
  footer .localizacoes a {
    color: white;
    font-size: 15px;
  }

  .display-icons {
    display: flex;
  }

  footer .redes-sociais a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  footer .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .logo img {
    height: 50px;
    margin-top: 10px;
  }


  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  footer .footer-left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  footer .redes-sociais,
  footer .telefones,
  footer .localizacoes {
    align-items: center;
    width: 100%;
  }

  footer .redes-sociais .display-icons,
  footer .telefones a,
  footer .localizacoes a {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 200;
  }

  footer .redes-sociais .display-icons {
    gap: 20px;
  }

  .telefones,
  .redes-sociais,
  .localizacoes span {
    font-family: 'Poppins';
    font-weight: 400;
  }


  /* página Home */
  #main-home,
  .sectionhome,
  #main-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: block;
  }

  #main-btns {
    margin: 40px 0 50px 0;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .main-bottomtexts h1.access-main {
    font-size: 2em;
    color: black;
    font-weight: 500;
  }

  .main-bottomtexts span.access-text {
    font-size: 20px;
    color: black;
    font-weight: 200;
    margin-left: 8px;
  }

  .main-bottomtexts {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  .plant-btn {
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #00668F;
    display: block;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    width: 260px;
  }

  .img-carousel-home {
    border-radius: 0 0 0 120px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .main-carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52vh;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
  }

  .carousel-front-text {
    position: absolute;
    bottom: 30px;
    left: 36%;
    color: white;
    text-align: right;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    right: 8%;
  }

  .buttons-carousel {
    position: absolute;
    bottom: 36px;
    left: 50px;
    display: flex;
    gap: 25px;
    z-index: 2;
  }

  .carousel-prev,
  .carousel-next {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  button.carousel-prev {
    background-image: url('../images/img-test/left-arrow-shadow.png');
  }

  button.carousel-next {
    background-image: url('../images/img-test/right-arrow-shadow.png');
  }

  .carousel-title {
    font-weight: 500;
  }

  .carousel-description {
    font-weight: 200;
  }

  .wrapper {
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
  }

  /* Header */
  div.header-mobile {
    width: 100%;
    position: absolute;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section.hamburger-menu {
    display: flex;
    align-items: center;
    padding: 12px 4% 12px 6%;
    width: auto;
  }

  section.hamburger-menu img {
    width: 23px;
  }

  section.search-box-block {
    width: auto;
    height: auto;
    padding: 2% 4% 1% 6%;
  }

  div.search-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    width: 240px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  div.search-box p {
    padding: 0 0 0 10px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: black;
  }

  .search-box img {
    width: 25px;
    margin: 0 10px 0 0;
    margin-left: auto;
  }

  /* Header plant details */
  div.header-plant-details {
    width: 100%;
    position: absolute;
    z-index: 50;
    display: flex;
    align-items: center;
  }

  div.hamburger-menu {
    display: flex;
    align-items: center;
    padding: 12px 4% 12px 6%;
    width: auto;
  }

  div.hamburger-menu img {
    width: 23px;
  }

  a.back-btn {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    width: 92px;
    height: 24px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .back-btn img {
    width: 25px;
    margin: 0px 8px 0px 8px;
  }

  a.back-btn p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color: #2C483C;
    margin: 1px 0 0 0;
  }



  /* Página da planta específica + DESCRIPTION */
  .plant-details-home {
    box-sizing: border-box;
  }

  .plant-details-top-img img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    display: flex;
  }

  section.plant-content {
    display: block;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    background-color: #dee7ec;
    position: relative;
    top: -20px;
    margin: 0 0 -20px 0px;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 48px;
  }

  .arrow.left-arrow {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: 0 0 0 0;
  }

  .arrow.right-arrow {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: 0 0 0 0;
  }

  .floating-menu {
    margin: 0 15px 30px 15px;
  }

  div.buttons-floating-menu {
    margin: 0 auto;
    background-color: #2C483C;
    flex-wrap: wrap;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
  }
  
  div.buttons-floating-menu button {
    justify-content: center;
    margin: 0 auto;
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    font-size: 12px;
    padding: 10px;
  }
  
  
  
  /* AQUIU */
  
  .tablinks.active {
    border-bottom: 3px solid #3FFFA2;
    /* color: #b1fde2; */
  }
  
  .tabcontent {
    display: none;
    animation: fadeEffect 1s; 
  }
  
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  /* AQUIU */

  .resume {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 20px 10px;
  }

  .name-container {
    padding: 10px;
  }

  .scientific-name-container {
    padding: 10px;
  }

  .resume-description {
    padding: 10px;
  }

  .detailed-description {
    padding: 10px;
  }

  .plant-details-wrapper {
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .resume h1 {
    font-size: 12px;
  }

  .resume h2 {
    font-size: 16px;
    font-weight: 500;
  }

  .resume p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
  }

  .detailed-description-flag {
    padding: 6px;
    background-color: #2C483C;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    display: inline;
    position: relative;
  }

  .detailed-description-flag p {
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    font-size: 12px;
    display: inline;
    padding: 0px 10px 0px 4px;
  }

  .detailed-description-flag img {
    height: 45px;
    display: inline-block;
    top: -10px;
    position: relative;
    vertical-align: middle;
  }

  .growth-form h1,
  .tree-trunk h1,
  .tree-bark h1,
  .leaf-blades h1,
  .flower-buds h1,
  .fruit-bodies h1,
  .seed-pods h1 {
    font-size: 12px;
  }

  .growth-form p,
  .tree-trunk p,
  .tree-bark p,
  .leaf-blades p,
  .flower-buds p,
  .fruit-bodies p,
  .seed-pods p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
  }

  .growth-form-photos,
  .tree-trunk-photos,
  .tree-bark-photos,
  .leaf-blades-photos,
  .flower-buds-photos,
  .fruit-bodies-photos,
  .seed-pods-photos {
    display: flex;
    gap: 12px;
    margin: 10px auto 28px auto;
    justify-content: center;
  }

  .growth-form img,
  .tree-trunk img,
  .tree-bark img,
  .leaf-blades img,
  .flower-buds img,
  .fruit-bodies img,
  .seed-pods img {
    width: 74px;
    height: 74px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  /* PLANT DETAILS APENAS TAXONOMY */

  .plant-taxonomy {
    padding: 10px;
  }

  .taxonomy-details-wrapper {
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .plant-taxonomy-flag {
    padding: 6px;
    background-color: #2C483C;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    display: inline;
    position: relative;
  }

  .plant-taxonomy-flag p {
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    font-size: 12px;
    display: inline;
    padding: 0px 10px 0px 4px;
  }

  .plant-taxonomy-flag img {
    height: 45px;
    display: inline-block;
    top: -10px;
    position: relative;
    vertical-align: middle;
  }

  .plant-division h1,
  .plant-class h1,
  .plant-order h1,
  .plant-family h1,
  .plant-gender h1,
  .plant-species h1 {
    font-size: 12px;
  }

  .plant-division p,
  .plant-class p,
  .plant-order p,
  .plant-family p,
  .plant-gender p,
  .plant-species p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
  }

  .plant-division-photos,
  .plant-class-photos,
  .plant-order-photos,
  .plant-family-photos,
  .plant-gender-photos,
  .plant-species-photos {
    display: flex;
    gap: 12px;
    margin: 10px auto 28px auto;
    justify-content: center;
  }

  .plant-division img,
  .plant-class img,
  .plant-order img,
  .plant-family img,
  .plant-gender img,
  .plant-species img {
    width: 74px;
    height: 74px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }



  /* ECOLOGY */

  .plant-ecology {
    padding: 10px;
  }

  .ecology-details-wrapper {
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .plant-ecology-flag {
    padding: 6px;
    background-color: #2C483C;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    display: inline;
    position: relative;
  }

  .plant-ecology-flag p {
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    font-size: 12px;
    display: inline;
    padding: 0px 10px 0px 4px;
  }

  .plant-ecology-flag img {
    height: 45px;
    display: inline-block;
    top: -10px;
    position: relative;
    vertical-align: middle;
  }

  .plant-medicinal h1,
  .plant-wood-industry h1,
  .plant-food h1,
  .plant-handicrafts h1,
  .plant-urban-forestry h1,
  .plant-landscaping h1 {
    font-size: 12px;
  }

  .plant-medicinal p,
  .plant-wood-industry p,
  .plant-food p,
  .plant-handicrafts p,
  .plant-urban-forestry p,
  .plant-landscaping p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
  }

  .plant-medicinal-photos,
  .plant-wood-industry-photos,
  .plant-food-photos,
  .plant-handicrafts-photos,
  .plant-urban-forestry-photos,
  .plant-landscaping-photos {
    display: flex;
    gap: 12px;
    margin: 10px auto 28px auto;
    justify-content: center;
  }

  .plant-medicinal img,
  .plant-wood-industry img,
  .plant-food img,
  .plant-handicrafts img,
  .plant-urban-forestry img,
  .plant-landscaping img {
    width: 74px;
    height: 74px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }


  /* PLANT DETAILS CLIMATIC SEASONS */

  .climatic-conditions,
  .climatic-conditions-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 20px 10px;
  }

  .climatic-conditions h1,
  .climatic-conditions-content h1 {
    font-size: 12px;
    margin: 0;
  }

  .climatic-conditions-content h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }

  .climatic-conditions p,
  .climatic-conditions-content p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
  }

  .climatic-conditions-seasons {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    align-items: flex-start;
  }

  .climatic-conditions-seasons img {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }

  .climatic-conditions-seasons-text {
    display: flex;
    flex-direction: column;
  }

  .climatic-conditions-seasons-text h1 {
    line-height: 1em;
    padding: 0px 0 2px 0
  }

  .climatic-conditions-seasons-text h1:nth-of-type(2) {
    padding: 12px 0 2px 0;
  }


/* SLICK CARROUSEL */

  .plants-carousel-content {
    max-width: 400px;
    margin: 25px auto;
  }
  
  .plants-carousel-content .slick-slide {
    margin: 0 16px;
  }
  
  .plants-carousel-content .slick-list {
    margin: 0 -16px;
  }
  
  #plant-carousel img {
    border-radius: 5px;
  }

}