footer {
  background-color: #00668F;
}


.footer-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 560px;
}

 .redes-sociais,  .telefones,  .localizacoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

 .redes-sociais span,  .telefones span,  .localizacoes span {
    text-align: left;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

 .redes-sociais a,  .telefones a,  .localizacoes a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.display-icons {
    display: flex;
    gap: 10px;
}


 .redes-sociais a img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}


 .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .logo img {
    height: 50px;
    margin-top: 10px;
}


 .redes-sociais i {
    color: white;
}




/* Ajuste para dispositivos móveis */
@media (max-width: 480px) {
  footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
  }

   .footer-left {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }

   .redes-sociais,  .telefones,  .localizacoes {
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
  }

   .redes-sociais span,  .telefones span,  .localizacoes span {
      display: block;
      width: 100%;
      text-align: center;
  }

   .redes-sociais .display-icons,  .telefones a,  .localizacoes a {
      display: block;
      text-align: center;
  }

   .logo {
      margin-top: 20px;
  }

   .redes-sociais .display-icons {
      gap: 20px;
  }
}



/* Ajuste responsividade */
@media (min-width: 481px) and (max-width: 768px) {
  footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
  }

   .footer-left {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }

   .redes-sociais,  .telefones,  .localizacoes {
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
  }

   .redes-sociais span,  .telefones span,  .localizacoes span {
      display: block;
      width: 100%;
      text-align: center;
  }

   .redes-sociais .display-icons,  .telefones a,  .localizacoes a {
      display: block;
      text-align: center;
  }

   .logo {
      margin-top: 20px;
  }

   .redes-sociais .display-icons {
      gap: 20px;
  }
}

