/* styles.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estrutura da página */
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-image: url('imagens/background.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh; /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.header-content h1 {
    font-size: 3em;
}

/* Corpo */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.button-container {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
